.chatWindow{
    display: flex;
    flex-direction: column;
    height:100%;
}
.chatWindow--header{
    height: 60px;
    border-bottom: 1px solid #CCC;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.chatWindow--headerinfo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.chatWindow--avatar{
    width: 40px;
    height: 40px;
    border-radius:100%;
    margin-left: 15px;
    margin-right: 15px;
},

.chatWindow--userinfo{
    font-size:17px;
    color: #000
}
.chatWindow--headerbtn{
    display: flex;
    color:#919191;
    border-radius:50%;
}
.chatWindow--btn{
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
    transition: all ease 0.3s;
}
.chatWindow--body{
    flex: 1;
    overflow-y:auto;
    background-color: #E5DDD5;
    background-size: cover;
    background-position: top;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    padding:30px
}
.chatWindow--footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:62px;
}

.chatWindow--pre{
    display: flex;
    margin:0 10px;
}

.chatWindow--input{
    flex: 1;
}

.input--chat{
    width: 100%;
    height: 40px;
    border: 0;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #4A4A4A;
    padding-left: 15px;
}


.chatWindow--pos{
    display: flex;
    margin:0 10px;
}

.chatWindow--emojiarea{
    overflow-y: hidden;
}
