.message--line{
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
    display: flex;

}

.message--item{
    width: 10%;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 0 1px 1px #ccc;
    display: flex;
    flex-direction: column;
    padding: 3px;
    max-width: 85%;
}

.message--text{
    font-size:14px;
    margin: 3px 6px 6px 36px ;
    overflow: auto;
}

.message--timedate{
    font-size:11px;
    color:#999;
    margin-right: 6px;
    text-align: left;
    height:18px;
    margin-top: -20px;

}